{% extends "base.html" %}
{% block content %}
<div class="row catalog">
    <div class="col-lg-3 col-md-3 col-sm-3 category-list">
        <h2>Categories</h2>
        <ul class="nav nav-pills nav-stacked">
            {% for category in categories %}
            {% if selected_category_id == category.id %}
            <li role="presentation" class="active">
                {% else %}
            </li>
            <li role="presentation">
                {% endif %}
                <a class="category-list-item" href="{{url_for('getCatalogPage', category_name = category.name)}}">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
        {% if auth_state['username'] %}
        <a class="btn btn-primary" href="{{url_for('addItem') }}" role="button">Add Item</a>
        {% endif %}
        <h2>{{ itemHeading }}</h2>
        {% for item in items %}
        <a href="{{url_for('getItemPage', category_name = item.category.name, item_title = item.title)}}">
            <p>{{ item.title }}{%if selected_category_id == 0 %} <em class="small">({{ item.category.name }})</em>{%endif%}</p>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
